
/****************************************/
#product-table{
    margin:-2px 0;
    background-color: #F9F9F9;
}
#product-table th{
     background: url("../images/shared/content_repeat.jpg") repeat scroll 0 0 transparent;
     text-align: left;
}
#product-table th span {
    padding-left: 3%;
}
#product-table td{
    color: #0C180C;
    font-weight:bolder;
}
option, #product-table select{
    width:100%;
}
#product-table td input{
    max-width:100%;
}
#product-table td textarea{
    width: 90%;
    height: 212px;
    text-align: left;
    margin: auto;

}
#product-table td span input{
    margin:0 5px;
    padding:0 5px;
}
/****************************************/
#carrito{
    min-width:600px;
    width:100%;
}

#tablaCarrito {

}
#tablaCarrito th.cabeza{
    padding-top:5px;
    background: none;
    margin:0;
}
#tablaCarrito th.cabeza h1{
    float:left;
}
#tablaCarrito th.cabeza input{
     float:left;
}

#tablaCarrito td{
    padding:5px 0;
    border:1px solid #F2F2F2;
    overflow: hidden;
}

.tituloTabla{
    background: url(../images/shared/content_repeat.jpg) repeat ;
    padding-top:5px;
    padding-bottom:4px;
    border-bottom:1px solid black;
    font-weight:bolder;
}
.encabezado{
    background-color: #E1F3FC;
    color: #000000;
}

.actionEliminar  {
        background: url(../images/table/table_icon_1.gif) no-repeat ;
        width: 24 px;
        height: 24 px;
        display: block;
}

.actionEliminar #eliminar:hover {
       background-position: -24px  ;
}

.elementoBorrador:hover{
      background:#E1F3FC;
      color: #000015;
      cursor: pointer;
}

#reporte{
  width: 40px;
  height: 40px;
  background: url('../images/iconosChicos/xlsx.gif') no-repeat;
  background-size: 80% 50% ;
 
  cursor: pointer;
}