/** { margin: 0; padding: 0; }*/
* html{
    width: 100%;
    overflow: hidden;
}

*  body{
    
    background-color:#ffffff;
    background-size:100% 100%;
    background-attachment:fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}
#cabecera{
    position: relative;
	min-width: 850px;
    min-height:100px;
   	margin: 0 auto;
	border:1px solid green;
	/*background: url(../images/shared/top_bg.jpg);*/
	background-color: #066ACA;
}       
#logo	{
	margin: -20px 0 0 40px;
	float: right;
}      
#logo	a	{
	display: table-cell;
	outline: none;
}

a#logout{ 
	float: right;
	margin: -10px 10px 0 5px;
	color: #BAE96A;
	text-decoration: none;
}
	
a img{
    border:none;
	text-decoration:none;
}
    
 
#menu{
    height: 25px;
}
#menu a { outline: none; }


a.active:link, a.active:active, a.active:visited	{	
	color: #fff !important;
	text-shadow: 0px -1px 1px #000!important;
}
h1	{
	color: #6da827;
	font-family: Tahoma;
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
	}
	h2	{
	color: #393939;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
	}
h3	{
	color: #92b22c;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 10px;
	}
#page-heading{
    width:100%;
}
#page-heading h1{
    /*margin:0 auto;*/
    text-align:center;
    
}
.green-left {
    background: url(../images/table/message_green.gif) repeat;
    color: #6da827;
    font-family: Tahoma;
    font-weight: bold;
}
.red-left	{
	background: url(../images/table/message_red.gif) top left no-repeat;
	color: #ce2700;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
}
div#cargador{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: none;
	opacity: .8;
	z-index: 1;
	display: none;
}
div#cargador div#espera{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -5%;
	margin-top: -6%;
}
div#cargador div#espera span.TextoEspera{
	color: #D1CFCF;
	font-size: 110%;
	margin-left: -45%;
}
div#cargador div#espera div#imgEspera{

	box-shadow: 0 0 10px 5px  #D9D6EC;
	background: url(../images/iconosChicos/cargando.gif) no-repeat ;
	height:50px;
	width:50px;
	background-size: 100% 100%;
	margin-top: 5%;
}
@media screen {
   /*div#menu {position: fixed;}*/
   * html {overflow-y: hidden;}
   * html body {overflow-y: auto;height: 100%;padding: 0;}
   /** html div#Menu {position: absolute;}*/
}
